data/pubmedqa/
data/mimic/
data/*.json
data/*.csv
!data/sample/ 
data/umls
data/medrag
embeddings/


logs/
experiments/

__pycache__/
venv/
env/
.venv

.env

results/raw/



generate_figures.py
.dockerignore
docker-compose.yml
dockerfile