# Data directories 
data/pubmedqa/
data/mimic/
data/*.json
data/*.csv
!data/sample/ 
data/umls

# Model files
embeddings/

# Logs
logs/
experiments/

# Python
__pycache__/
venv/
env/
.venv

.env

# Results 
results/raw/

src/ui/