# Core dependencies
torch
transformers
sentence-transformers
scikit-learn
numpy
pandas

# Retrieval
rank-bm25

# Utilities
pyyaml
tqdm
matplotlib
seaborn

accelerate

torch-geometric
networkx
scispacy
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_sm-0.5.4.tar.gz